.item{
    height: 10rem;
    width: 18rem; 
    margin-right: .5rem;
    background-size: cover;
}
.itemRow, .itemTitle{
    margin: 0 3rem 0 3rem;
}
.itemRow{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    
}
.play{
    height: 10rem;
    width: 18rem;
    background-color: rgb(77, 71, 71, .5);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: 0.5s ease;
}
.item:hover .play{
    opacity: 1;    
}
.itemRow::-webkit-scrollbar{
    display: none;
}
.movieTitle{
    font-size: .8rem;
    max-width: fit-content;
}
/* BREAKPOINTS */
@media only screen and (max-width : 600px){
    .itemRow, .itemTitle{
        margin: 0 1rem 0 1rem;
    }
    .itemTitle{
        font-size: 1.3rem;
    }
    .item{
        width: 18rem;
        height: 10rem;
    }
}